.allApp {
  font-family: 'Courier New', Courier, monospace;
}

a:link {
  color: #e8daff;
}

a:visited {
  color: rgb(255, 255, 255);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  zoom: 105%
}

.leighCarousel:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  zoom: 105%
}

.leighButton {
  background-color: #794aff;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 5px;
  margin-left: 7px;
}

.marqueeDiv {
  background: #e8daff;
  color: #2d0fbf
}

.footer {
  background-color: #e8daff;
  position: fixed;
  width: 100%;
  bottom: 0;
  color: black;
  font-size: 15px;
  text-align: right;
}